<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Add New Product</h4>
                </div>
                <div class="panel-body">
                    <!--FORM ELEMENTS-->
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label for="productName" class="control-label col-md-4">Enter Product Name: </label>
                            <div class="col-md-8">
                                <input name="productName" id="productName" placeholder="Enter Product Name...." class="form-control">
                                <!--<em class="help-block">Please Enter Product Name</em>-->
                            </div>
                        </div>
                    </form>
                    <!--FORM ELEMENTS-->
                </div>
            </div>

        </div>
    </div>
</div>